* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: gilroy; */
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    color: #0E100F;
    background-color: #2FEE65;
    height: 100%;
    width: 100%;
}

html::selection{
    background-color: #0E100F;
    color: #2FEE65;
}

html::-webkit-scrollbar{
    display: none;
}

main .element {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

main .element h1 {
    font-weight: 700;
    font-size: 3rem;
}

main .element p {
    font-weight: 500;
    bottom: 1.5rem;
    position: absolute;
}

main .page-2 {
    background-color: #2FEE65;
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
    text-align: center;
    padding: 2rem 3rem;
}

main .page-2 h1 {
    line-height: 4.5rem;
    overflow: hidden;
    font-size: 4rem;
}

@media (max-width:600px) {
    main .element h1 {
        font-size: 1.2rem;
    }

    main .page-2 {
        padding: 0 1rem;
    }

    main .page-2 h1 {
        overflow: hidden;
        line-height: normal;
        font-size: 2rem;
    }
}