* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    color: #0E100F;
    background-color: #2FEE65;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

main .element h1 {
    font-weight: 900;
    font-size: 3rem;
}